@model TransactionTypeViewModel
@using OnlineBank.Models

<form asp-action="AddEditTransactionType" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = $"{(@Model.typeId == 0 ? "Add" : "Edit")} TransactionType" })

    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="typeName" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="typeName" class="form-control" />
            </div>
        </div>

    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>


