@model TransactionViewModel
@using OnlineBank.Models

<form asp-action="AddEditTransaction" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = $"{(@Model.transId == 0 ? "Add" : "Edit")} Transaction" })

    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="transDate" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="transDate" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="transAmount" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="transAmount" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="fromAccount" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="fromAccount" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="toAccount" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="toAccount" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="typeId" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="typeId" class="form-control" />
            </div>
        </div>

    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>


