@model TransactionViewModel
@using OnlineBank.Models

@using (Html.BeginForm())
{
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Transaction" })

    <div class="modal-body form-horizontal">
        Are you sure you want to delete @Model.transId?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
}

