
@{
    ViewData["Title"] = "";
}

<body @*style="background-color:red"*@>
    <header>

        <h1 class="text-danger">@ViewData["Title"]</h1>

        <img src="~/images/accessdenied.png" />
    </header>
</body>
