@{
    ViewBag.Title = "Admin Page";
}

<style>
    .center {
        display: block;
        margin-left: 450px;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="center">
    <img src="~/images/admin.png" width="180" height="150"  />
</div>

<div class="btn-group, center">
    <button onclick="window.location.href = 'https://localhost:44384//Account/Index';">View Accounts</button>
    <button onclick="window.location.href = 'https://localhost:44384/Transactions/Admin';">View Transactions</button>
</div>